.footer {
  background: linear-gradient(0deg, rgba(28, 43, 102, 0.52),
      rgba(28, 43, 102, 0.52)),
    url("/assets/Footer.png");
  background-size: cover;
  padding: 2em 1em;
  position: relative;
  /* height: 300px; */
}

.watermark {
  height: 280px;
  position: absolute;
  left: 7.5%;
  bottom: 1%;
  opacity: 0.4;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.logo-text {
  font-size: clamp(1.25rem, 0.8929rem + 1.1429vw, 2.25rem);
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.footer-logo img {
  width: 150px;
}

.footer__row {
  padding: 1em 1em;
}

.footer__row.footer-primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: stretch;
  width: 80%;
  max-width: 1900px;
  grid-gap: 100px;
  margin: 0 auto;
}

.footer__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 1em; */
  min-height: fit-content;
}

/* .footer-solutions h3,
.footer-about h3,
.footer-sub h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: clamp(0.875rem, 0.4063rem + 1.5vw, 1.25rem);
  font-weight: 400;
} */

.footer-solutions ul,
.footer-about ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.75rem, 0.5156rem + 0.75vw, 0.9375rem);
  padding: 0;
  gap: 0.5rem;
  /* margin: 2rem 0 0 0; */
}

.footer-solutions ul li a,
.footer-about ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-solutions ul li a:hover,
.footer-about ul li a:hover {
  color: #FCBE00;
}

.footer-sub {
  width: 100%;

}

.footer-subs {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.footer-subs input {
  min-width: max-content;
}

.footer-subs button {
  width: 100%;
  background: #FCBE00;
  color: #fff;
}

.footer-subs button,
.footer-subs input {
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 1rem;
  border: none;
  outline: none;
}

.footer__info p {
  font-size: clamp(0.625rem, 0.4688rem + 0.5vw, 0.75rem);
  font-weight: 100;
  line-height: 20px;
  color: #fff;

}

.footer__row.footer-copyright {
  width: 80%;
  max-width: 1900px;
  padding: 2rem 0;
  display: flex;
  border-top: 1px solid #FFFFFF;
  margin: 0 auto;
  justify-content: center;
}

.copyright {
  font-size: clamp(0.75rem, 0.5156rem + 0.75vw, 0.9375rem);
  color: #fff;
  letter-spacing: 2px;
}

.socials {
  display: flex;
  gap: 2rem;
}

.socials img {
  width: 40px;
  height: 40px;
  /* filter: invert(1); */
}

/* .socials div {
  padding: 1rem;
  border-radius: 50%;
  background: #FCBE00;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */

@media screen and (max-width: 850px) {
  .footer__row.footer-primary {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .footer__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    min-height: fit-content;
  }

  .footer-copyright {
    flex-direction: column;
    gap: 1rem;
  }


}
