<footer class="footer">
    <div class="footer__row footer-primary">
      <div class="footer__column footer-logo">
       <div class="div">
        <img src="/assets/Vector.png" alt="">
       </div>
       <div class="socials">
        <div class="">
          <img src="/assets/fb.png" alt="">
        </div>
        <div class="">
          <img src="/assets/ig.png" alt="">
        </div>
        <div class="">
          <img src="/assets/in.png" alt="">
        </div>
  
      </div>
      </div>
      <div class="footer__column footer-about">
        <!-- <h3>About the Group</h3> -->
        <ul>
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#">About Halosphere</a>
          </li>
          <li>
            <a href="#">Platforms</a>
          </li>
        </ul>
      </div>
      <div class="footer__column footer-solutions">
        <!-- <h3>Our Integrated Solutions</h3> -->
        <ul>
          <li>
            <a href="#">Terms and Conditions</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">FAQS</a>
          </li>
      
        </ul>
      </div>

    </div>
    <div class="footer__row footer-copyright">
      <div class="copyright">
        <p>Copyright© 2022 HALOGEN GROUP | All Rights Reserved</p>
      </div>
    </div>
  </footer>
