<nav>
    <ul>
        <li>Home</li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                  <div class="drop-img">
                      <img src="/assets/Vector.png" alt="">
                  </div>
                  <div class="drop-links">
                    <a href="#"><mat-icon>location_off</mat-icon> Rollsafe</a>
                    <a href="#"> Plansafe</a>
                    <a href="#">Contract Management</a>
                  </div>
                </div>
            </div>
        </li>
        <li>About</li>
        <li>FAQs</li>
    </ul>
</nav>
