<nav>
    <div>

    </div>
    <ul class="navlinks">
        <li class=""> Home</li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">Platforms</button>
                <div class="dropdown-content">
                    <div class="drop-img">
                        <img src="/assets/Vector.png" alt="">
                    </div>
                    <div class="drop-links">
                        <a routerLink="/plansafe"><mat-icon>location_on</mat-icon> Rollsafe</a>
                        <a href="#"><mat-icon>location_on</mat-icon> Plansafe</a>
                        <a href="#"><mat-icon>folder</mat-icon> Contract Management</a>
                    </div>
                </div>
            </div>
        </li>
        <li>About</li>
        <li>FAQs</li>
    </ul>
</nav>
