nav ul {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    gap: 4rem;
    list-style: none;
    padding: 1rem 1.5rem;
    align-items: center;
}

.nav ul li {
    cursor: pointer;
}

.dropbtn {
    /* background-color: #04AA6D; */
    /* color: white; */
    padding: 16px;
    font-size: 16px;
    background: transparent;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* display: flex; */

    background: #ffffff;
    min-width: 420px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    z-index: 1;
    left: -150%;

}

.drop-img {
    width: 40%;
    padding: 1rem;
    text-align: center;
}

.drop-img img {
    width: 70%;
    filter: invert(0.5);
}

.drop-links {
    display: block;
    background-color: #f1f1f1;
    width: 40%;
    padding: 1rem;
    font-size: 12px;

}

.drop-links a {
    display: block;
    align-items: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.dropdown-content a:hover {
    background-color: #ddd;
    display: flex;
    align-items: center;
}

.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: space-between;
    transition: all .3s ease-in-out;
    border-radius: 10px;
}

.dropdown:hover .dropbtn {
    border-bottom: 3px solid #FCBE00;
    /* border-radius: 5px; */
}

nav ul li {}
