<div class="plansafe">
    <app-rollsafenav></app-rollsafenav>
    <div class="scroll">
        <mat-icon>
            keyboard_arrow_up
        </mat-icon>
    </div>
    <section class="section-1 cityimg">
        <div class="inner">
            <div class="text citytext">
                <div class="citytext-container">
                    <h1>A <span>safe</span>, affordable way to commute</h1>
                </div>
                <div class="text-btn">
                    <button>Get Started</button>
                </div>
            </div>
            <div class="image ">
                <img class="ryde-img" src="/assets/rydesafe.png" alt="">
            </div>
        </div>
    </section>
    <section class="section-2">
        <div class="inner">
            <div class="text">
                <div>
                    <img class="rollsafe-img" src="/assets/rollsafewhite.png" alt="">
                </div>
                <h3>Download The RollSafe App Today</h3>
                <p>Download our Mobile app for free to get all the latest updates and contact support.</p>
                <div class="text-download">
                    <img src="/assets/app.png" alt=""><img src="/assets/play.png" alt="">
                </div>
            </div>
            <div class="image">
                <div class="circle"></div>
                <img class="phone-img" src="/assets/secure.png" alt="">
            </div>
        </div>
    </section>

    <section class="section-3">
        <h1>How to roll Safe?</h1>
        <div class="innes">
            <div class="steps">
                <div class="step">
                    <img class="steps-img" src="/assets/step1.png" alt="">
                    <h5>Step 1</h5>
                    <h6>Download The App </h6>
                    <p>Download the app or navigate to the web. Create your secure profile.</p>
                </div>
                <div class="step">
                    <img class="steps-img" src="/assets/step2.png" alt="">
                    <h5>Step 2</h5>
                    <h6>Select your route</h6>
                    <p>Create your location favorites, identify your travel route and make payment.</p>
                </div>
                <div class="step">
                    <img class="steps-img" src="/assets/step3.png" alt="">
                    <h5>Step 3</h5>
                    <h6>Enjoy your trip</h6>
                    <p>Get trip confirmation and journey plans then get ready for your pickup. </p>
                </div>
            </div>
        </div>
    </section>
    <div class="hr"></div>
    <section class="section-4">
        <div class="inner">
            <div class="text">
                <h1><span>Partner</span> with us, It takes both sides to build a bridge.</h1>
                <div class="text-btn">
                    <button>Get Started</button>
                </div>
            </div>
            <div class="image">
                <img class="ryde-img" src="/assets/hummer.png" alt="">
            </div>
        </div>
    </section>
    <app-rollfooter></app-rollfooter>
</div>
