<div class="home">
    <div class="landing">
        <img class="landing-bg" src="/assets/bg4.png" alt="">
    <div>
        <app-navbar></app-navbar>

    </div>
        <div class="landing-section">
            <div class="text">
                <h1>
                    Welcome to the Halosphere
                </h1>
                <p>Ornare etiam erat volutpat tempor fringilla mi. Elit a blandit faucibus est, dui interdum ut amet.
                    Adipiscing feugiat vel at posuere in. Pellentesque volutpat vestibulum.</p>
                <div class="platforms-btn">
                    <img src="/assets/play.png" alt="">
                    <img src="/assets/app.png" alt="">
                </div>
            </div>
            <div class="image">
                <img class="landing-image" src="/assets/new.png" alt="">
            </div>
        </div>
    </div>
    <div class="platforms">
        <div class="platforms-header">
            <h2>Platforms</h2>
        </div>
        <div class="platforms-section">
            <div class="image">
                <img class="platforms-img" src="/assets/ryde.png" alt="">
            </div>
            <div class="text">
                <img class="rollsafe-img" src="/assets/rollsafe.png" alt="">
                <h2>A safe affordable way to commute.</h2>
                <p>Planning to move long distance, worried about safety while in motion? Subscribe to RollSafe and put
                    your mind at ease.</p>
                <div class="text-btn">
                    <button>Get Started</button>
                </div>
            </div>

        </div>
    </div>
    <div class="plansafe" >
        <img src="/assets/plansafe.png" class="plansafe-img" alt="">
        <h1>Better events, together</h1>
        <p>Plan for the unplannable with the world’s most collaborative platform.</p>
        <div>
            <button>
                Get Started
            </button>
        </div>
    </div>

    <div class="landing">
        <div class="contract-section">
            <div class="text">
                <div class="contractImage-container">
                    <h1>Contract Manager</h1>
                </div>
                <h2>
                    Manage your security contract system
                </h2>
                <p>Ornare etiam erat volutpat tempor fringilla mi. Elit a blandit faucibus est, dui interdum ut amet.
                    Adipiscing feugiat vel at posuere in. Pellentesque volutpat vestibulum.</p>
                <div class="platforms-btn">
                   <button>Get Started</button>
                </div>
            </div>
            <div class="image">
                <img class="contract-image" src="/assets/hidden.png" alt="">
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
