nav {
    /* background: #f5f5f5; */
    box-shadow: -1px 2px 7px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 2px 7px 1px rgba(0, 0, 0, 0.3);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 70px; */
    padding: 1rem;
    width: 80%;
    margin: 0 auto;

}

.nav-menu {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    gap: 4rem;
    flex: 0.5;
}

.nav-links {
    display: none;
}

.navlogo {
    flex: 0.3;
}

.navlogo img {
    height: 60px;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-items li {
    font-size: clamp(0.875rem, 0.7857rem + 0.2857vw, 1.125rem);
    font-weight: 500;
    cursor: pointer;
}

.nav-items li:hover {
    color: #007AFF;
}


.nav-btns {
    display: flex;
    gap: 2rem;
}

.sign-in,
.sign-up {
    padding: 0.6rem 2rem;
    border-radius: 12px;
    cursor: pointer;
}

.sign-up {
    background: #fff;
    color: #007AFF;
    border: 1px solid #007AFF;
}

.sign-in {
    background: #007AFF;
    color: #fff;
    border: none;
}

@media screen and (min-width: 1000px) {
    .nav-menu {
        display: none;
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 4rem;
        flex: 0.5;
    }

}
