<nav>
    <div class="nav">
        <div class="navlogo">
            <img src="/assets/rollsafe.png" alt="">
        </div>
        <div class="nav-links">
            <ul class="nav-items">
                <li routerLink="/">Halosphere</li>
                <li>Partners</li>
                <li>Resources</li>

            </ul>
            <div class="nav-btns">
                <button class="sign-up">Sign Up</button>
                <button class="sign-in">Sign In</button>
            </div>
        </div>
        <div class="nav-menu">
            <mat-icon>menu</mat-icon>
        </div>
    </div>
</nav>
